<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d [%thread] %p %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="core" level="INFO" />
    <logger name="org.apache" level="WARN" />
    <logger name="spray.can.client" level="WARN" />
    <logger name="akka.io.TcpOutgoingConnection" level="WARN" />

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
